h1{
  text-align: center;
}

h3{
  text-align: center;
}

#main{
  padding-bottom: 100px;
  background: url('../images/backgrounds/small-crackle-bright.png') repeat;
}

#banner{
  height: 500px;
  width: 100%;

  position: relative;
  background-image: url('../images/backgrounds/AutomaTrumpBanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

#banner > #banner-bg{
  height: 100%;
  padding-top: 130px;
  background-color: rgba(0,0,0,.3);
}

#banner > #banner-bg > h1 {
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 140px;
  text-shadow: 2px 2px 3px #111;
}

#banner > #banner-bg > h3 {
  color: #fff;
  margin-top: -10px;
  font-size: 40px;
  font-family: 'bignoodletoo', sans-serif;
  text-shadow: 1px 1px 1px #111;
}

#details{
  width: 90%;
  max-width: 900px;
  background: #fff;
  margin: 0 auto;
  padding: 120px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #e1e8ed;
  box-shadow: 0 0 11px -5px rgba(0,0,0,.4);
}

#overview{
  margin-bottom: 80px;
}

#overview > p > a,
#overview > p > a:focus{
  color: #ff5722;
  border-bottom: 1px dashed #ff5722;
  display: inline;
  text-decoration: none;
}

#overview > p > a:hover,
#overview > p > a:active{
  color: #000;
  border-color: #000;
  text-decoration: none;
}

#explanation > h1{
  font-size: 56px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 30px;
}

#explanation > .tweets{
  padding-top: 50px;
  padding-bottom: 50px;
}

#explanation > ul{
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 50px;
  width: 45%;
  display: inline-block;
  font-size: 20px;
}

#explanation > p > a,
#explanation > p > a:focus{
  color: #ff5722;
  border-bottom: 1px dashed #ff5722;
  display: inline;
  text-decoration: none;
}

#explanation > p > a:hover,
#explanation > p > a:active{
  color: #000;
  border-color: #000;
  text-decoration: none;
}

blockquote{
  margin: 40px;
  font-size: 22px;
}

blockquote.twitter-tweet {
  display: block;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.code-block{
  background-color: #1a1a1a;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 28px;
  margin-left: -120px;
  margin-right: -120px;
}

code{
  color: #bbb;
  background-color: inherit;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  white-space: pre;
  white-space: pre-wrap;
}

code > .comment{
  font-style: italic;
  color: #555;
}

code > .keyword{
  color: #ff5722;
}

.snippet{
  font-family: 'Inconsolata', monospace;
  color: #888;
}

.diagram{
  margin: 0 auto;
  display: block;
  width: 90%;
  max-width: 500px;
}
