// base height = 1
// card height = 2
// button height = 2
// nav height = 4
// raised card/button height = 6
// modal height = 24

$content-width: 90%;
$content-max-width: 1200px;
$base-height: 1;
$card-height: 2;
$button-height: 2;
$nav-height: 4;
$modal-height: 24;
$primary-color: #ff5722;
$card-color: #fff;
$text-color: #666;
$text-dark: #333;
$height-2-shadow: 0 2px 4px rgba(0,0,0,.25);
$height-4-shadow: 0 2px 10px rgba(0,0,0,.25);
$height-6-shadow: 0 2px 20px rgba(0,0,0,.25);


@mixin center{
  margin:{
    left: auto;
    right: auto;
  }
}

@mixin font-source-sans($size: false, $color: false, $weight: false,  $lh: false) {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin link-color($link, $visit, $hover, $active, $decoration: none) {
  a {
    color: $link;
    text-decoration: $decoration;
    &:visited {
      color: $visit;
      text-decoration: $decoration;
    }
    &:hover {
      color: $hover;
      text-decoration: $decoration;
    }
    &:active {
      color: $active;
      text-decoration: $decoration;
    }
  }
}

@mixin margin($all: false, $top: false, $left: false, $right: false, $bottom: false){
  @if $all { margin: $all; }
  @if $top { margin-top: $top; }
  @if $left { margin-left: $left; }
  @if $right { margin-right: $right; }
  @if $bottom { margin-bottom: $bottom; }
}

@mixin padding($all: false, $top: false, $left: false, $right: false, $bottom: false){
  @if $all { padding: $all; }
  @if $top { padding-top: $top; }
  @if $left { padding-left: $left; }
  @if $right { padding-right: $right; }
  @if $bottom { padding-bottom: $bottom; }
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body{
  @include font-source-sans($color:$text-color, $weight:300);
}

.content-wrapper{
  width: $content-width;
  max-width: $content-max-width;
  @include center;
}

#top-nav{
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $card-color;
  z-index: $nav-height;
  box-shadow: $height-4-shadow;
  transition: height .3s;

  #nav-bar{
    height: 100%;
    width: 720px;
    list-style: none;
    padding: 0;
    @include center;
    @include font-source-sans(20px, $text-color);
    transition: width .3s;

    li{
      float: left;
      @include padding($all: 40px, $top: 35px, $bottom: 34px);
      @include link-color($text-color, $text-color, $text-dark, $text-color);
      transition: padding .3s, padding-top .3s, padding-bottom .3s;
    }

    .active{
      border-bottom: 4px solid $primary-color;
      @include link-color($primary-color, $primary-color, $primary-color, $primary-color);
    }

    #nav-logo{
      width: 120px;
      @include padding($all: 20px, $top: 10px, $bottom: 10px);
      transition: width .3s, padding-top .3s, padding-bottom .3s;
    }
  }
}

.nav-scrolled{
  height: 60px!important;

  #nav-bar{
    width: 550px;

    li{
      @include padding($all: 20px, $top: 15px, $bottom: 14px);
    }

    #nav-logo{
      width: 90px;
      @include padding($top: 5px, $bottom: 5px);
    }
  }
}

#loading{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: $modal-height;
  background-color: rgba(255, 255, 255, .8);

  i{
    position: absolute;
    left: calc(50% - 27px);
    top: calc(50% - 21px);
  }
}
