@mixin center{
  margin:{
    left: auto;
    right: auto;
  }
}

@mixin font-source-sans($size: false, $color: false, $weight: false,  $lh: false) {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin link-color($link, $visit, $hover, $active, $decoration: none) {
  a {
    color: $link;
    text-decoration: $decoration;
    &:visited {
      color: $visit;
      text-decoration: $decoration;
    }
    &:hover {
      color: $hover;
      text-decoration: $decoration;
    }
    &:active {
      color: $active;
      text-decoration: $decoration;
    }
  }
}

@mixin button($color){
  padding: 6px 12px;
  display: inline-block;
  background-color: $color;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
