@import '_site';

%button{
  padding: 6px 12px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: $height-2-shadow;
  @include transition(font-size .3s, box-shadow .3s);

  &:hover{
    font-size: 16px * 1.02;
    box-shadow: $height-6-shadow;
  }
}

#soundcloud-button{
  @extend %button;
  background-color: #eee;
}

#portfolio-button{
  @extend %button;
  background-color: #ddd;
}

#twitch-button{
  @extend %button;
  background-color: #ccc;
}
