//colors
$primaryColor: #FF5722;
$lightShade: #ECF1ED;
$lightAccent: #D3B076;
$darkShade: #2A393E;
$darkAccent: #827F85;
$superDark: #161d1f;

//fonts
$headerFont: 52px Hind, sans-serif;
$midHeader: 28px Hind, sans-serif;
$smallHeader: 24px Hind, sans-serif;
$midFont: 22px Open Sans, sans-serif;
$smallFont: 18px Open Sans, sans-serif;
$tinyFont: 16px Open Sans, sans-serif;

//misc
$center: 0 auto;
$navHeight: 80px;
$roundedCorner: 4px;
$baseShadow: 0px 2px 6px rgba(0,0,0,.25);
$highShadow: 0px 2px 20px rgba(0,0,0,.25);
$transitionLength: .3s;

//generic elements
body{
    font: $midFont;
    background-color: $lightShade;
    color: $darkShade;

    margin: 0;
}

section{
    padding: 50px 5%;
}

a{
    color:$primaryColor;
    text-decoration: none;
}

a:hover{
    //text-decoration: underline;
}

p{
    margin-top: 0;
}

header{
    font: $headerFont;

    h1{
        font-weight: normal;
        margin: 0;
    }

    h3{
        font: $smallHeader;
        color: $darkShade;
        margin: 0;
    }
}

nav{
    height: $navHeight;
    width: 90%;
    position: fixed;
    top: 0;
    font: $smallFont;    
    background-color: $superDark;
    color: $lightShade;
    box-shadow: $baseShadow;
    padding: 0 5%;
    z-index: 99;

    .row{
        height: inherit;
        min-height: 0;
        // margin: 0;
        // margin-left: 3%;
        padding: 0;

        .column,
        .column--three{
            height: $navHeight - 4;
            // position: relative;
            // float: left;
            // margin-right: 10px;

            img{
                height: 60px;
                width: 60px;
                border-radius: 0;
                
                display: block;
                padding: 10px;
            }

            a,
            a:focus{
                color: $lightShade;
                display: inline-block;
                padding: 28px 15px 24px 15px;
            }
            
            :hover,
            :active{
                color: $primaryColor;
            }
        }

        #nav-logo{
            height: 80px;
            width: 80px;
            margin: 10px;
            margin-right: 20px;
            background: $lightShade;
            border-radius: 50%;
            box-shadow: $baseShadow;
        }

        .active{
            border-bottom: 4px solid $primaryColor;

            a,
            a:focus{
                color: $primaryColor;
            }
        }
    }
}

img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

//custom classes
#main{
    
    padding: 0; 
    margin-top: $navHeight + 50px;
}

.row{
    height: auto;
    width: 104%;
    min-height: 400px;
    max-width: 1400px;
    overflow: auto;
    margin: 0 auto;
    
    .column,
    .column--two,
    .column--three{
        display: block;
        position: relative;
        float: left;
        margin: 0 2.5%;
    }

    .column{
        width: 20%;
    }
    .column--two{
        width: 45%;
    }

    .column--three{
        width: 70%;
    }
}

.card{
    background: $lightShade;
    color: $darkShade;
    font: $smallFont;
    border-radius: $roundedCorner;
    margin: 20px 0;
    padding: 20px;
    box-shadow: $baseShadow;

    img{
        height: auto;
        width: 100%;
        max-height: none;
        display: block;
        border-radius: $roundedCorner;
        margin-top: -100px;
        margin-bottom: 20px;
        box-shadow: $highShadow;
    }
}

.imagecard{
    background: transparent;
    padding: 0;
    box-shadow: none;

    img{
        margin: 0;
        box-shadow: none;
    }
}

.cardWithImage{
    margin-top: 100px;
}

.contents{
    font: $midHeader;

    h1{
        margin-top: 20px;
    }
}

.caption{
    display: block;
    font: $smallHeader;
    font-variant: small-caps;
    color: $darkShade;
    margin: 10px 0;
}

#hello{
    img{
        box-shadow: $baseShadow;
    }
}

#work{
    background: $darkShade;
    
    .contents{
        background: $darkShade;
        color: $lightShade;
    }
}

.small{
    font-variant: small-caps;
}

.button{
    display: inline-block;
    background: $primaryColor;
    color: $lightShade;
    border-radius: $roundedCorner;
    font-variant: small-caps;
    box-shadow: $baseShadow;
    padding: 10px 20px;
    margin-right: 5px;
    transition: box-shadow $transitionLength;
}

.button:hover{
    box-shadow: $highShadow;
}

.button.accent{
    background-color: $lightAccent;
}

.timeline{
    padding: 10px;
}

.twitter-timeline{
    min-width: 0 !important;
    // box-shadow: $baseShadow;
    // margin: 20px 0 !important;
}

#gdusa{
    background: $lightShade;
    box-shadow: $baseShadow;
}

//@media
@media (max-width: 1500px){
    .row{
        margin: 0 -2%;
    }
}

@media (max-width: 786px){
    nav{
        .row{
            .column{
                width: 0;
                margin: 0;
            }
        }
    }

    #main{
        .row{
            height: auto;
        
            .column,
            .column--two,
            .column--three{
                height: auto;
                width: 96%;
                

                img{
                    margin: $center;
                    display: block;
                }
            }
        }
    }
}